* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eef2f7;
  font-family: Arial, sans-serif;
  color: #1f2937;
}

.container {
  max-width: 720px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

/* FORM */
form {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

form input {
  flex: 1;
  padding: 11px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  transition: 0.2s;
}

form input:focus {
  outline: none;
  border-color: #2563eb;
}

form button {
  padding: 11px 18px;
  background: #2563eb;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

form button:hover {
  background: #1d4ed8;
}

/* container list */
.card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

/* card */
.student-card {
  background: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: 0.2s;
}

.student-card:hover {
  transform: translateY(-2px);
}

/* info */
.student-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.student-info h3 {
  font-size: 18px;
  margin-bottom: 4px;
}

.student-info p {
  font-size: 14px;
  color: #555;
}

.student-info span {
  font-weight: 600;
  color: #111;
}


/* tombol */
.actions {
  display: flex;
  gap: 10px;
  margin-top: 6px;
}

.actions button {
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

/* edit */
.edit-btn {
  background: #f59e0b;
  color: white;
}

.edit-btn:hover {
  background: #d97706;
}

/* delete */
.delete-btn {
  background: #ef4444;
  color: white;
}

.delete-btn:hover {
  background: #dc2626;
}

/* save */
.save-btn {
  background: #10b981;
  color: white;
}

.save-btn:hover {
  background: #059669;
}

/* mode edit */
.edit-area {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.edit-area input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.edit-area input:focus {
  outline: none;
  border-color: #3b82f6;
}
@media (max-width: 500px) {

  .student-card {
    padding: 12px;
    border-radius: 10px;
  }

  .student-info h3 {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .student-info p {
    font-size: 13px;
    padding: 4px 0;
  }

  /* tombol lebih kecil */
  .actions button {
    padding: 8px;
    font-size: 14px;
    border-radius: 8px;
  }

  /* jarak antar tombol */
  .actions {
    gap: 8px;
  }

  /* input edit juga diperkecil */
  .edit-area input {
    padding: 8px;
    font-size: 14px;
  }
}













