.card {
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgb(38, 209, 209);
    border-radius: 10px;
}
.card img {
    width: 100%;
}
.card h2,p{
    font-family: 'Courier New', Courier, monospace;
}
.card button{
    border: none;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    color: white;
}